body{
    background-color: #1E8871;
    background-image: url(../img/fundo.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
   
#centro {  
    width: 25%; 
    height: 100%;
    margin: 12% 0% 2% 36%;
    float: left;
    color:#ffffff;
    background-color: rgba(0,0,0,0.40);
    font-size: 12px;
}

#telaFormulario{
    width: 70%; 
    height: 100%;
    margin: 4% 0% 2% 15%;
    float: left;
    color:#ffffff;
    background-color: rgba(0,0,0,0.35);
    font-size: 12px;
}

.painelFormulario{
    width:88%;  
    margin-left:8%;  
}

#divFormulario{
    background-color: rgba(0,0,0,0.40);
}

.ui-wizard-step-title{
   background:transparent;
   border: 1px transparent;
   padding: 0.0em;
}

.ui-state-default {
    box-shadow: inset 0px 1px 0px transparent;
}

.botaoLogin{
    background: rgba(0,0,0,0.54);
    color:#fff;
    border: 1px #ffffff;
    margin-left:69%; 
    padding: 0.0em;
}

.botaoLogin:hover{
    background: rgba(0,0,0,0.90);
}

.ui-widget button {
    background: rgba(0,0,0,0.54);
    color: #fff;
    border: 1px transparent;
}


.ui-widget button:hover{
    background: rgba(0,0,0,0.90);
}


.tamanho{
    width: 25%;
}
