body{
    background-color: #F0F0F0;
}
    
#centro {  
    width:340px; 
    height: 100%;
    margin:1% 0% 2% 36%;
    float: left;
    color:#ffffff; 
    background-color: rgba(0,0,0,0.68);
    font-size: 12px;
}
 
#informacao {  
    width: 63%;
    margin-left:18%;
    float:left;
    color:#3A87AD; 
    background-color:#D9EDF7;
    font-size:12.5px; 
    border-radius:5px;
    border:0.05px solid #BCE8F1;
}
 
#centroInformacao{
    padding: 8px;
}

.ui-wizard-step-title{
   background:transparent;
   border: 1px transparent;
   padding: 0.0em;
}

.ui-state-default {
    box-shadow: inset 0px 1px 0px transparent;
}

.botaoLogin{
    background: rgba(0,0,0,0.54);
    color:#fff;
    border: 1px #ffffff;
    margin-left:69%; 
    padding: 0.0em;
}

.botaoLogin:hover{
    background: rgba(0,0,0,0.90);
}

.ui-widget button {
    background: rgba(0,0,0,0.54);
    color: #fff;
    border: 1px transparent;
}


.ui-widget button:hover{
    background: rgba(0,0,0,0.90);
}


.tamanho{
    width: 25%;
}

.comment-text-area {
  float: left;
  width:95%;
}
